{% extends 'base.html' %}
{% block content %}
    {% for poll in polls %}
        <div class="card">
            <div>
                <p>published: {{ poll.pub_date }}</p>
                <h1>Question {{ forloop.counter }}</h1>
                <p>{{ poll.question|linebreaksbr }}</p>
                {% for choice in poll.choice_set.all %}
                    <a href="/polls/{{ poll.id }}/choice/{{ choice.id }}">{{ choice.choice_text }} ({{ choice.votes }})</a>
            {% endfor %}
            </div>
    {% endfor %}
     <nav>
        <ul class="pagination justify-content-center pagination-sm">
            {% if page_obj.has_previous %}
                {% if not search %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ page_obj.previous_page_number }}"
                           tabindex="-1">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?{{ search }}&page={{ page_obj.previous_page_number }}"
                           tabindex="-1">Previous</a>
                    </li>
                {% endif %}
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
            {% endif %}
            {% for object in page_obj.paginator.page_range %}
                <li class="page-item {% if forloop.counter == page_obj.number %}active{% endif %}">
                    <a class="page-link"
                       href="?page={{ forloop.counter }}">{{ forloop.counter }}
                    </a>
                </li>
            {% endfor %}
            {% if page_obj.has_next %}
                {% if not search %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link"
                           href="?{{ search }}&page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% endif %}
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}
